.resume {
    /*
    background-image: url("https://66.media.tumblr.com/7d22896e582d06375c5d863a6a7022e5/tumblr_oumcxm8Z5Q1uzwgsuo1_400.gif");
    background-size: cover;
    */
    background-image: -webkit-radial-gradient(top, circle cover, white 0%, whitesmoke 80%);

    padding: 5%;
}

#link {
    font-family: menlo, "Lucida Console", Monaco, monospace;
    font-size: 4vw;

    -webkit-text-stroke: 2px black;

    animation: colorchange 10s infinite alternate;
}

@keyframes colorchange {
    0% {
      color: yellow;
    }
    10% {
      color: #f08a5d;
    }
    20% {
      color: #b83b5e;
    }
    30% {
      color: #6a2c70;
    }
    40% {
      color: #521262;
    }
    50% {
      color: #6639a6;
    }
    60% {
      color: #3490de;
    }
    70% {
      color: darkblue;
    }
    80% {
      color: #086972;
    }
    90% {
      color: #17b978;
    }
    100% {
      color: darkgreen;
    }
  }