.resume {
    background-image: url("https://media.giphy.com/media/l378wcSfS7eXWQgla/giphy.gif");
    background-position-y: 0%;
    background-size: cover;

    padding: 5%;
}

#link {
    font-family: menlo, "Lucida Console", Monaco, monospace;
    font-size: 4vw;

    /*-webkit-text-stroke: 2px rgb(32, 32, 32);*/

    animation: colorchange 5s infinite alternate;
}

@keyframes colorchange {
    0% {
      color: yellow;
    }
    10% {
      color: #f08a5d;
    }
    20% {
      color: #b83b5e;
    }
    30% {
      color: #6a2c70;
    }
    40% {
      color: #521262;
    }
    50% {
      color: #6639a6;
    }
    60% {
      color: #3490de;
    }
    70% {
      color: darkblue;
    }
    80% {
      color: #086972;
    }
    90% {
      color: #17b978;
    }
    100% {
      color: darkgreen;
    }
  }